body{
    background-image: url("gradient_bg.png");
    background: linear-gradient(to top,#f8cfab , #44041b);
    /* opacity: 0.3; */
}

header{
    text-align: center;
    font-size: 35px;
}

@keyframes example {
    0%   {background-color:red; left:0%;}
  25%  {background-color:yellow; left:20%; }
  50%  {background-color:blue; left:60%; }
  75%  {background-color:green; left:20%;}
  100% {background-color:red; left:0%; }
  }

.square{
    background-color: red;
    position: relative;
    width: 100px;
  height: 100px;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
} 


.navbar{
    background-color: rgb(51,120,78);
    height: 100px;
    display: flex;
    align-items: center;
    margin:  auto;
}

.navbar___container {
    display: flex;
    width: 100%;
}

.navbar___menu{
    display: flex;
    align-items: center;
}

.navbar___item{
    height: 80px;
}

.navbar___links{
    display: flex;
    align-items:  center;
    justify-self: center;
    padding: 0 1rem;
    height:  100%;
    color: white;
}

.navbar___btn{
    display: flex;
}

.button{
    border-radius: 4px;
    background-color: rgb(55,55,55);
    color: aliceblue;
}

.quiz-entry{
	
}
